@import '../../styles/variables/Variables.scss';

.display {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid $primaryColor;

    width: 90%;
    height: 60%;

    padding: 50px 0;
    margin: 20px;

    border-radius: 8px;

    text-align: center;
    font-size: 50px;

}

.error {
    font-size: 60px;
    color:red
}