@import '../../styles/variables/Variables.scss';

.control {
    background-color: $secondaryColor;

    font-family: "Arial Black", sans-serif;
    font-size: 30px;
    color: $textColor;

    padding: 0 15px;
    margin: 20px;

    border-radius: 8px;

    &:disabled {
        background-color: #332e2e;
        opacity: 0.5;
    }
}

